//bootstrap scss
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

//user created scss files
@import '../scss/ah-scss/ah-variables';
@import '../scss/ah-scss/typography';
@import '../scss/ah-scss/header-nav';
@import '../scss/ah-scss/ah-section-main-landing';
@import '../scss/ah-scss/ah-section-about';
@import '../scss/ah-scss/ah-section-experience';


html {
    scroll-behavior: smooth;
}
body {
    background-color: $bg;
    counter-reset: link sectionTitles;
}
button {
    &:focus {
        outline: none;
    }
}
h3 {
    display: flex;
    align-items: baseline;
    counter-increment: sectionTitles;
    margin: 0 0 3rem;
    width: 100%;
    &::before {
        content: '0' counter(sectionTitles) ':';
        padding: 0 1rem 0 0;
    }
    &::after {
    content: '';
    position: relative;
    bottom: .5rem;
    flex: 1 1 auto;
    height: 0.25rem;
    min-width: 5rem;
    background: linear-gradient(to right, $text-blue-100, $bg);
    margin-left: .75rem;
    }
}
main {
    padding: 0 1rem;
    margin-bottom: 50rem;
}

section {
    min-height: 50rem;
    padding: 2rem 1rem;
}
#about, #experience, #projects, #contact {
        margin: 7rem 0 0 0;
}

footer {
}