.section-main-landing {
    max-height: 100vh;
    & p:first-of-type {
        margin: .5rem 0 2rem 0;
    }
    & h2 {
        margin: 0 0 2.5rem 0;
    }
}
.ah-h1-full-name {
    margin: 0 0 1rem 0;
}

.button-ah-container {
    background: $bg;
    margin: 1rem 0 0 0;
    width: 100%;
    max-width: 250px;
    padding: 0 .5rem;
    // max-width: 20rem; add at sm breakpoint
}
.button-ah-perspective {
    width: 100%;
    height: 6rem;
    cursor:pointer;
    perspective: 50rem;
}
 .button-ah-side-2 {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.4s;
    &:hover {
        transform:rotateX(-90deg);
    }
}
.button-ah-text-front, .button-ah-text-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid $highlight-accent;
    border-radius: 0.5rem;
    padding: 1.6rem 1rem 1rem 1rem;
}
.button-ah-text-front {
    transform: translate3d(0, 0, 29px);
}
.button-ah-text-back {
    background: $highlight-accent;
    transform: rotateX(90deg) translate3d(0, 0, 29px);
}
